/* profil utilisateur */
.user-profile {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}

/* info utilisateur */
.profile-info {  
  padding: 15px; 
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); 
}
body.light-mode .profile-info {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.profile-name {
  font-weight: bold;
  margin-bottom: 5px;
}
.profile-email {
  font-size: 0.9em;
  opacity: 0.7;
}

/* avatar */
.profile-avatar {
  width: 40px;
  height: 40px;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 18px;
  color: white;
  border-radius: 50%;
  border: 2px solid transparent;
  transition: border-color 0.3s;
}

.user-profile:hover .profile-avatar {
  border-color: var(--text-light);    
}
body.light-mode .user-profile:hover .profile-avatar {
  border-color: var(--text-dark);
}

/* dropdown */
.profile-dropdown {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: rgba(20, 20, 20, 0.95);
  border-radius: 5px;
  width: 200px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: var(--transition);
  z-index: 101;
}
body.light-mode .profile-dropdown {
  background-color: rgba(255, 255, 255, 0.95); 
  color: var(--text-dark); 
}
.profile-dropdown.active {
  opacity: 1; 
  visibility: visible;
  transform: translateY(0);
}

/* menu dropdown */
.profile-menu {
  list-style: none;
  padding: 10px 0;
}
.profile-menu li {
  padding: 10px 15px;
  transition: background-color 0.3s;
  cursor: pointer;
}
.profile-menu li:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
body.light-mode .profile-menu li:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
